:root {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-purple: #4e148c;
  --color-light-lavender: #e8ebf2;
  --color-lavender: #858ae3;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}
